@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/card";

@import "transitions";
@import "fonts/inter.css";
@import "common/normalize";
@import "common/typography";
@import "form/button";
@import "components/hero";
@import "components/tabs";

*, ::before, ::after {
	font-family: Inter, Helvetica, Roboto, Arial, sans-serif;
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

@media screen and (min-width: 1920px) {
	html {
		font-size: 1vw;
	}
}

body {
	--background: #eee;
	--color: #111;
	transition: opacity 1s ease;
    position: relative;
	background: var(--background);
	color: var(--color);
}

body.theme-dark {
	--background: #21252D;
	--color: #ccc;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
}

a {
	color: #00bfff;
}

@media all and (max-width: 640px) {
	html {
		font-size: 14px;
	}
}